/* .backarea{
    width: 150px;
    height: 150px;
    padding: 10px;
    border-radius: 15px;
    margin: 3%;
    display: inline-block;
    background-color: rgb(229, 243, 84);
} */
/* .main{
    background-color: #212121;
    display: flex;
    flex-wrap: wrap;
    padding-top: 70px;
    

} */
/* .classname{
    font-size: 25px;
    padding-bottom: 3px;
} */
/* .intro{
    font-size: 15px;
    word-break: normal;
} */